.submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s;
	width: auto;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}
.header a:hover{
	
	text-decoration: none !important;
}


.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0 !important;
}
.card-body {
    align-self: flex-start !important;
}